//I added variables as they are useful when I want to use different colors

//VARIABLES
$font-family: 'Montserrat', sans-serif;
$primary-color: white;
$secondary-color: #212529;
$tertiary-color: #ff5678;
$quaternary-color: #f9e1e1;
